
@{
    ViewBag.Title = "Deploy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>In processing.....</h2>
<p class="help-block">
    The deployment process will take few minutes to provision company database. 

</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

