<p>Hi @ViewBag.Model.Name,</p>
<p>We received a request to reset your password for your KUMO account: @ViewBag.Model.Email.</p>
<p>Please kindly click <a href="@ViewBag.Model.ResetUrl">here</a> to reset your KUMO password.</p>
<p>If you didn't ask to change your password, please kindly ignore this email.</p>
<p>Your password is still safe and you can continue signing in with your current password.</p>