<p>Hi @ViewBag.Model.Name,</p>
<p>Welcome to KUMO Family!</p>
<p>Your KUMO account information is:</p>
<ul><li>URL: @ViewBag.Model.Url</li>
    <li>Email Address: @ViewBag.Model.Username</li>
    <li>Temporary Password:  @ViewBag.Model.Password</li>
    </ul>
<p>When you sign in the environment for the first time, you will be prompted to change your password.&nbsp;</p>
<p>Strong password required. Enter 8-16 characters. Do not include common words or names. Combine uppercase letters, lowercase letters, numbers, and symbols.</p>
<p>Sincerely, we hope you will have a great experience using KUMO.</p>
