@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1 class="text-danger">Access Denied</h1>
<h2 class="text-danger">You do not have sufficient privileges for this operation.</h2>

