@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1 class="text-danger">@ViewBag.Message</h1>
<h2 class="text-danger">@ViewBag.Description</h2>

