@{
    ViewBag.Title = "Confirmation";
}

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="list-box">
    <h4>
        Please check your email. We have just sent you an email with a link to reset your KUMO password.
    </h4>
</div>

