@model IEnumerable<test_kumo_eip0001model.Calendar>

@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Calendar
</h3>

<link href="~/Scripts/Libraries/calendar/fullcalendar.css" rel="stylesheet" />
<script src="~/Scripts/Libraries/calendar/lib/moment.min.js"></script>
<script src="~/Scripts/Libraries/calendar/lib/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/Libraries/calendar/fullcalendar.js"></script>

<div id='calendar'>
</div>
<script src="~/Scripts/ERPCalendar.js"></script>



